body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background: #2c3e50;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* LAYOUT */
.container {
    padding: 20px;
}

.budget-section {
    display: flex;
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

/* PIE CHART (CSS MOCK) */
.pie-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    background: conic-gradient(
        red 0% 40%,
        blue 40% 70%,
        green 70% 100%
    );
}